
.msg {
  background-color: rgb(255, 255, 255);
}
.name {
    color: blue;
}
.email {
    color: blue;
}.assunto {
    color: blue;
}
.opcao {
    color: crimson;
}
#mensagem {
    background-color: rgb(201, 201, 199);
}
button {
    background-color: rgb(61, 128, 195);
    border: none;
    border-radius: 0;
    color: aliceblue;
}